In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series
import savReaderWriter as spss

In [2]:
path =  r"O:\MSI\PERSONAL FOLDERS\Files for Jake\Passive\passive_etl\Data\Dimension + P3 Data.sav"

In [7]:
data = spss.SavReader(path,returnHeader=True)

In [8]:
data.loadLibrary()
len(data)

42300

In [9]:
dir(data)

['__class__',
 '__cmp__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__enter__',
 '__exit__',
 '__format__',
 '__getattribute__',
 '__getitem__',
 '__hash__',
 '__init__',
 '__iter__',
 '__len__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_encodeFileName',
 '_getMissingValue',
 '_getMultRespDef',
 '_getMultRespDefsEx',
 '_get_array_slice',
 '_isAutoRawMode',
 '_items',
 '_loadLibs',
 '_setColWidth10',
 '_setMissingValue',
 '_setMultRespDefs',
 '_splitformats',
 'alignments',
 'all',
 'autoRawMode',
 'bareformats',
 'caseBuffer',
 'caseWeightVar',
 'close',
 'closeSavFile',
 'columnWidths',
 'dataEntryInfo',
 'dateVariables',
 'decode',
 'encode',
 'encoding_and_locale_set',
 'errcheck',
 'fd',
 'fh',
 'fileAttributes',
 'fileCodePage',
 'fileCompression',
 'fileEncoding',
 'fileLabel',
 'formatValues',
 'formats',
 'formats_',
 'freeMemory',
 'get',
 'getCaseBuffer',
 'getFileReport',
 'getHeader',
 'getSavFileInfo',
 'getStruct',
 'head',
 'header',
 'idVar',
 'ioLocale',
 'ioUtf8',
 'ioUtf8_',
 'isCompatibleEncoding',
 'libc',
 'loadLibrary',
 'measureLevels',
 'memoize',
 'missingValues',
 'missingValuesLowHigh',
 'multRespDefs',
 'myStruct',
 'nCases',
 'numVars',
 'numberofCases',
 'numberofVariables',
 'openSavFile',
 'printPctProgress',
 'queryType7',
 'rawMode',
 'recodeSysmisTo',
 'record',
 'releaseInfo',
 'returnHeader',
 'savFileName',
 'seekNextCase',
 'selectVars',
 'setLocale',
 'shape',
 'spss2strDate',
 'spssVersion',
 'spssio',
 'sysmis',
 'sysmis_',
 'systemString',
 'tail',
 'textInfo',
 'unpack_from',
 'vNames',
 'valueLabels',
 'varAttributes',
 'varLabels',
 'varNames',
 'varNamesTypes',
 'varRoles',
 'varSets',
 'varTypes',
 'varWids',
 'verbose',
 'wholeCaseIn',
 'wholeCaseOut',
 'wide2utf8']

In [10]:
df=DataFrame(list(data),columns=data.varNames)

23.6%...  47.3%...  70.9%...  94.6%...

In [11]:
df.tail()

,Respondent_ID,Respondent_Serial,DataCollection_StartTime,DataCollection_FinishTime,NETWORK,SMARTPHONE_BRAND,SMARTPHONE_MODEL,APP_DOWNLOAD,EMAIL_CAPTURE,EMAIL_CONFIRM,...,Apr132015,Apr142015,Apr152015,Apr162015,Apr172015,Apr182015,Apr192015,Apr202015,Apr212015,GrandTotal
42296,7000004467 ...,90576,2015-04-15 02:09:52,2015-04-15 02:16:48,1,7,6,1,edwardthomas1983@gmail.com ...,edwardthomas1983@gmail.com ...,...,,14-Apr-15,15-Apr-15,,,,,,,2
42297,7000004469 ...,82594,2015-04-13 14:26:08,2015-04-13 14:31:14,1,7,5,1,...,...,...,,,,,,,,,,None
42298,7000004470 ...,83413,2015-04-13 18:18:12,2015-04-13 18:25:47,1,7,5,1,Misstonya01@gmail.com ...,Misstonya01@gmail.com ...,...,13-Apr-15,14-Apr-15,15-Apr-15,16-Apr-15,17-Apr-15,18-Apr-15,19-Apr-15,,,8
42299,7000004471 ...,94055,2015-04-15 22:38:24,2015-04-15 22:47:58,1,7,4,1,biloxidude32@yahoo.com ...,biloxidude32@yahoo.com ...,...,,,15-Apr-15,16-Apr-15,17-Apr-15,18-Apr-15,19-Apr-15,,,5
42300,7000004474 ...,67364,2015-04-09 20:50:39,2015-04-09 20:56:31,1,None,18,1,Gail@ipsos.com ...,Gail@ipsos.com ...,...,,,,,,,,,,None